.usermanagementpage{
    .mainBodyDiv{
        margin-left: 5.5%;
    

.secondDiv {
    display: flex;
    .collectionMembercountDiv{
        position: relative;
        top:22.5%;
        left:5%;
        color: #3E4664;
    }
    .collectionExportDiv {
        display: flex;
        position: relative;
        top:21.8%;
        left:80.7%;
        color: #3E4664;
        .pdficon{
            cursor: pointer;
        }
        .excelicon {
            cursor: pointer;
        }
    }
}

.collectionCardDiv {
    margin: 3.6%;
    margin-top: -1%;
    .Roww {
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0, -11.12);
        .switchBtton {
            color: #00D95E;
        }
    }
    .Roww:hover {
        background-image: linear-gradient(to right, #00D95E ,#4277DB );
        .changetext {
            color: #ffff !important;
        }
        
    }  
    .iconedit {
        cursor: pointer;
    }
    .icondelet {
        padding-left: 20px;
        cursor: pointer;
    }  
    
}
.changetext {
    font-weight: 400;
    font-family: 'Lato'!important;
    color:'#3E4664 !important'
}


.MuiTableCell-root{
    padding:2px 22px 2px 22px !important;
}
.MuiTableCell-alignRight {
    text-align: left;
}
.MuiTableCell-head {
    color: #B2B2B2 !important;
}
.MuiTableCell-body{
    color: #3E4664 !important;
}
}
// .MuiSwitch-input{
//     color: #E5FBEE;
// }
}

