.root{
    width: 100%;
    .MuiButton-root:hover{
            background-color: transparent !important;
          }
}
.title{
    // width: 80%;
    text-align: left;
    width: 62%;
    padding-left: 7rem;
}
.bttn {
    width: 20%;
}
.bar {
    background-color: transparent!important;
    color: black!important;
    box-shadow: none!important;
}
