body {
  margin: 0;
  background-color: #FBFCFF;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }
.Fonts {
  font-family: 'Lato'!important;
  }
  .HighlightTextColour {
    color: #00D95E!important;
  }
  .TextColour {
    color: #3E4664!important;
  }
  .SizeFont {
    font-size: 14px!important; 
  }
  .btnSizeFont {
    font-size: 16px!important;
  }
  .linkFontSize {
    font-size: 12px!important; 
  }
  .largeFontSize {
    font-size: 18px!important; 
  }
  .headFontSize {
    font-size: 20px!important; 
    font-weight: 600!important;
    color: #3E4664!important;
  }
  .btnbackgroundcolor {
    background-color: #00D95E!important;
  }
  .MuiInput-underline:before{
    border-bottom:none!important;
}

.MuiInput-underline:after{
    border-bottom:none!important;
}
// .buttonheight  {
//   height: 42px;
//   padding-left: 20px;
//   padding-right: 20px;
// }
  
